.cuerpote{
    display: flex;
    flex-direction: row;
    background-color: #0F123F;
    border: 1em solid #0F123F;
}
.cuerpito{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F2F5FA;
    border-radius: 10px;
    height: 85vh;
    width: 85%;
    margin: 0%;
    padding: 30px 50px;
}
.cabeza{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}
.fechachida{
    background: #A5A5A5;
    width: 40%;
    height: 60%;
    text-align: center;
    border-radius: 62px;
    font-family: 'Raleway';
    font-size: 100%;
    line-height: 500%;
    color: rgba(242, 242, 242, 0.7);
}
.primeralinea{
    margin-bottom: 2%;
}
.segundalinea{
    display: flex;
    margin-bottom: 7%;
}
.aprospectobtns{
    display: flex;
    justify-content: space-between;
    margin-left: 60%;
}