.err{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
.cabeza{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.centro{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.btns{
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    margin-right: 30%;

}
.advertencia{
    width: 8%;
}
.eliminando{
    font-family:'Red Hat Display';
    font-style: normal;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    color: #722C2D;
}
.us{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    text-align: center;
}
.num{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    color: #000000;
}
.pregunta{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 200%;
    text-align: center;

    color: #000000;

}