.toggle-cont{
    font-weight: bold;
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.mainContentPageSeguimiento form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.mainContentPageSeguimiento form .input-gral {
    width: 20vw;
}

.mainContentPageSeguimiento form .btn-guardar-cambios {
    width: 20vw;
}
