.contentPage { 
    background-color: #F2F5FA;
    border-radius: 10px;
    height: 91vh;
    width: 85%;
    margin: 0%;
    padding: 1vw;
}

pre {
    font-size: 3vh;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 3vh;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

header {
    padding-left: 4%;
    padding-bottom: 2%;
}

.filtrosContentPage {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    justify-content:space-between;
}

#cajaUsuarioNoEncontrado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    align-content: center;
}

#cajaUsuarioNoEncontrado img{
    max-height: 55vh;
    text-align: center;
}

#cajaUsuarioNoEncontrado p:nth-child(1){
    font-size: 110%;
    font-weight: bold;
}

#cajaUsuarioNoEncontrado div{
    line-height: 1vw;
}

@media only screen and (max-width: 600px) {
    .filterInput {
        display:none;
    }

    #cajaUsuarioNoEncontrado {
        margin-left: 12vw;
        color: white;
        padding-left: 0%;
        padding-right: 12%;
    }

    #cajaUsuarioNoEncontrado div{
        line-height: 8vw;
    }

    .filtrosContentPage .cont-input{
        width: 86vw;
        height: 40px;
        font-size: 4vh;
        margin-bottom: 3vh;
        margin-left: 1vh;
        border-radius: 30px;
        font-weight: 100;
    }

    .contentPage {
        background-color: #0F123F;
    }

    header {
        padding-top: 23vw;
        height: 35vw;
        width: 95vw;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
}