.solicitudSeguimiento{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align:start;
}

.solicitudSeguimiento h4{
    color: #0F123F;
    text-align: center;
}

.solicitudSeguimiento h2{
    text-align: center;
    color: #0F123F;
}
.solicitudSeguimiento span{
    text-align:start;
    font-weight: bold;
}

.solicitudSeguimiento p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.cont-referencias{
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
}

.referencia-sol{
    width: 50%;
    text-align: center;
}

@media only screen and (max-width:576px){
    .solicitudSeguimiento{
        width: 100%;
    }

    .header-sol h4{
        color: #fff !important;
    }
}