.input-gral {
  font-size: 1.2vw;
  font-family: "Raleway";
  padding: 15px 30px;
  border-style: none;
  background: #cacaca;
  border-radius: 50px;
  font-weight: 600;
  width: 75%;
  /* margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%; */
}

.input-gral:disabled {
  background: #8f8f8f;
  color: rgb(199, 198, 198);
}

.inputFormularios {
  font-size: 1.2vw;
  font-weight: 600;
  font-family: "Raleway";
  padding: 15px 30px;
  border-style: none;
  border-radius: 50px;
  background: #cacaca;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  transition: border-color 0.2s;
  height: 1.5vw;
}

.grupoInput {
  font-weight: 600;
  position: relative;
  padding: 15px 0 0;
  width: 50%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.grupoInput-2 {
  font-weight: 600;
  position: relative;
  padding: 15px 0 0;
  width: 50%;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grupoInput-3 {
  font-weight: 600;
  position: relative;
  padding: 15px 0 0;
  width: 33%;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inputFormularios:placeholder-shown ~ .etiquetaInputs {
  top: 25%;
}

.etiquetaInputs {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 1.2vw;
  font-family: "Raleway";
  color: rgb(118, 118, 118);
  border-image: initial;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-left: 6%;
  margin-right: 1%;
}

.inputFormularios:not(focus) ~ .etiquetaInputs {
  color: transparent;
}

.inputFormularios:focus::placeholder {
  color: transparent;
}

.inputFormularios:focus ~ .etiquetaInputs {
  position: absolute;
  top: -15%;
  display: block;
  transition: 0.4s;
  font-size: 0.8vw;
  color: #0f123f;
  font-weight: 700;
}

.inputFormularios:not(:placeholder-shown) ~ .etiquetaInputs {
  position: absolute;
  top: -15%;
  display: block;
  transition: 1s;
  font-size: 0.8vw;
  color: #0f123f;
  font-weight: 700;
}

.inputFormularios:focus {
  outline: none;
}

.w-3 {
  width: 27%;
}

.w-2 {
  width: 84%;
}

.w-1 {
  width: 70%;
}

@media (max-width: 1180px) {
  .w-3 {
    width: 40%;
  }

  .grupoInput-2 {
    width: 48%;
  }

  .grupoInput-3 {
    width: 31%;
  }

 
}

@media only screen and (max-width: 860px) {
  .input-gral {
    font-size: 1.8vw;
  }
  .grupoInput-2 {
    width: 45%;
  }

  .grupoInput-3 {
    width: 28%;
  }
}

@media only screen and (max-width: 576px) {
  .input-gral {
    background: #f2f5fa;
    font-size: 4.5vw;
    width: 80%;
  }

  .grupoInput-3 {
    width: 120%;
  }

  .grupoInput-3 input{
    height: auto !important;
  }

  .grupoInput-2 {
    width: 120%;
  }

  .grupoInput-2 input{
    height: auto !important;
  }

  .w-2 {
    width: 80%;
  }
}
