#AppHeader {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    color: white;
}

#navAppDemostracion {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}