.modal{
    background-color: #E5E5E5;
    position: relative;
    width: 45em;
    height: 45em;
    color: #0F123F;
    margin-left: 25%;
    font-family: "Red Hat Display";
}

.nombreUsuario{
    position: relative;
    margin-left:2em;
    margin-bottom: 0%;
    padding-top: .8em;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #0F123F;
}

.infoPrimaria{
    display: flex;
    position:relative;
    align-items: center;
    margin-left: 32%;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 48px;
}

.tel{
    padding-left: 2em;
}

.formulario{
    padding-left: 4.5em;
    padding-top: 2.5em;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    color: #000000;
    width: 6em;

}

.ctx1, .ctx2, .ctx3{
    display: flex;
    align-items: center;
    flex-direction: column;
 }



 .menudrop{
    padding-top: 1.3em;
    margin-top: -3em;
    padding-left: 6em;
    width:35em;
 }

 .botonSalmon{
    position: absolute;
    margin-left:  40%;
 }

