.modal{
    background-color: #E5E5E5;
    width: 45vw;
    height: 90vh;
    color: #0F123F;
    font-family: "Red Hat Display";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombreUsuario{
    font-weight: bold;
    font-size: 30px;
    color: #0F123F;
}

.infoPrimaria{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
}

.tel{
    padding-left: 2em;
}

.formulario{
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}

.cont-contacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    height: 17vh;
}

.contacto-left{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 18px;
 }





