.err{
    padding: 30px;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #FFF8F8;
}

.err i{
    font-size: 50px;
    color:#722C2D
}
.cabeza{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.centro{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.eliminando{
    font-family:'Red Hat Display';
    font-style: normal;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #722C2D;
    margin-bottom: 0;
}

.us{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.num{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
}

.pregunta{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #000000;
}