body {
    min-height: 100vh;
    display: grid; 
    place-items: center;
}

select{
    width: 448px;
    height: 70px;   
    padding: .5em 1.5em;
    background-color: #CACACA;
    color: black;
    font-family: 'Raleway';
    font-style: normal ;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    border-radius: 40px;
    border:0;
    appearance: none;
}

.menu{
    position: relative;
}

.triangle{
    display: block;
    position: absolute;
    border-left: 15px solid  #0F123F;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    top: 38%;
    right: 10%;
    pointer-events: none;
    transform: rotate(90deg);
    border-top-right-radius: 30%;
}

