select{
    width: 15em;
    height: 2em;   
    padding: .5em 1.5em;
    background-color: #CACACA;
    color: #0F123F;
    font-family: 'Raleway';
    font-style: normal ;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.2em;
    border-radius: 4em;
    border:0;
    appearance: none;
}

select:focus{
    outline:none ;
}

.menu{
    position: absolute;
}

.triangle{
    position: absolute;
    border-left: .7em solid  #0F123F;
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent; 
    top: 38%;
    right: 10%;
    pointer-events: none;
    transform: rotate(90deg);
    border-top-right-radius: 30%;
}

