select{
    width: 100%;
    background-color: #CACACA;
    color: #0F123F;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2em;
    border:0;
    appearance: none;
}

select:focus{
    outline:none ;
}

.menu{
    width:  45%;
    padding: 15px 30px;
    background-color: #CACACA;
    border-radius: 50px;
    margin-bottom: 50px;
}

.triangle{
    position: absolute;
    margin-left: -30px;
    font-size: 30px;
    pointer-events: none;
}


