.contenedor{
    width: 35%;
    background: #0F123F;
    border-radius: 62px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    margin: auto;
    align-items: center;
}

.titulo{
    font-family: 'Red Hat Display';
    color: #fff;
    margin-bottom: 50px;
}

input{
    width: 80%;
    border-radius: 35px;
    border-style: none;
    background: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 20px;
}

input:focus{
    outline: none;
}

.btnIngresar{
    color: #fff;
    font-weight: bold;
    width: 60%;
    border-style: none;
    background: #EE786C;
    border-radius: 50px;
    font-family: 'Raleway';
    font-size: 24px;
    padding: 20px;
    margin-bottom: 20px;
}
