.cont-input{
    background: #fff;
    border-radius: 25px;
    width: 300px;
    left: 354px;
    top: 229px;
    display: flex;
    align-items: center;
}

.input-search{
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: bold;
    border-style: none;
    background: rgba(0, 0, 0, 0);
    width: 80%;
    padding: 5px;
    height: 100%;
    margin-left: 10px;
}

i{
    width: 20%;
    color: #0F123F;
}

.input-search:focus{
    outline: none;
}

.input-search:focus > .cont-input{
    background: #000;
}