.filterInput { 
    width: 17.7vw;
    left: 18vw;
    top: 17.3vw;
    background: #fff;
    border-radius: 1vw;
    display: flex;
    align-items: center;
}

#searchFilter {
    font-size: 2.2vh;
    font-family: 'Red Hat Display';
    font-weight: bold;
    border-style: none;
    background: rgba(0, 0, 0, 0);
    width: 80%;
    padding: 0.6vh;
    height: 100%;
    margin-left: 1.2vh;
}

.filterInput i {
    color: #0F123F;
}

.dropFilter {        
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 0;
    overflow: hidden;  
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    transition: .4s height;
}

.filterInput ul li {
    font-family: 'Red Hat Display';
    font-size: 13px;
    padding: 10px 10px;
    list-style: none;
    border-top: 1px solid #0F123F;
}