.contenedor-lateral{
    background-color: #0F123F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    color: #fff;
    width: 250px;
    font-family: 'Red Hat Display';
}

.datosUsuario{
    height: 10vh;
}

.cont_icono{
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre_usuario{
    font-weight: normal;
}

.tabs{
    padding: 30px 0;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


a:focus .tab{
    width: 100%;
    padding: 15px;
    background: #EE786C;
    border-radius: 18px;
    font-family: Red Hat Display;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
}

.tab{
    width: 70%;
    padding: 15px;
    border-radius: 18px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.tabs a{
    padding-left: 30px;
    text-align: left;
    text-decoration: none;
    color: #fff;
}


.logout{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logout i{
    font-size: 30px;
    color: #fff;
}
