.input-gral{
    font-size: 22px;
    font-family: 'Raleway';
    padding: 15px 30px;
    border-style: none;
    background: #CACACA;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.input-gral:focus{
   outline: none;
}

.w-3{
    width: 25%;
}

.w-2{
    width: 40%;
}