.container-radio {
    font-family: 'Raleway';
    color: #0F123F;
    display: block;
    position: relative;
    padding-top: 5px;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #EE786C;
    border-radius: 50%;
}


.container-radio:hover input~.checkmark {
    background-color: #fca399;
}



.container-radio input:checked~.checkmark {
    background-color: #EE786C;
}


.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked~.checkmark:after {
    display: block;
}


.container-radio .checkmark:after {
    top: 7.5px;
    left: 7.5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0F123F;
}