.contenedorTablaClientes {
	font-family: 'Raleway', sans-serif;
}

.encabezadoTablaClientes {
	background: #F2F5FA;
	display: flex;
	align-content: space-around;
	max-height: 100%;
	color: black;
	font-size: 150%;
	height: 2.7em;
	text-align: center;
}

#encabezadoNombreCliente {
	width: 51%;
}

#encabezadoEstatusCliente {
	width: 18%;
}

#encabezadoAccionesCliente {
	width: 31%;
}

#semaforoEstatusPendiente {
    background-color:#84BC6A ;
    color: #84BC6A;
    border-radius: 100%;
    text-align: center;
    width: 2em;
    height: 2em;
    padding-top: 0%;
    padding-bottom: 0%;
	margin-left: 10%;
}

#semaforoEstatusDispuesto {
    background-color:#722C2D ;
    color: #722C2D;
    border-radius: 100%;
    text-align: center;
    width: 2em;
    height: 2em;
	margin-left: 10%;
}

.clientsTable {
	margin: 0.1em 0em;
	width: 100%;
	border-collapse: separate; 
	border-spacing: 0em;
}

.tablaClientes {
	max-height: 50vh;
	width:100%;
	overflow-y: scroll;
  	scroll-behavior: smooth;
	margin-top: 0em;
	padding: 0em 0.2em 0em 0.2em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;	
	background: white;
	border-radius: 0.6em;
}

tr:hover {background-color: #F2F5FA;}

.clientsTable tr {
	border-bottom: 1px solid #F2F5FA;
	color: black;
}

.clientsTable td {
	border-bottom: 1px solid #0F123F;
}

.clientsTable td:first-child {
	padding-top: 0.5em;
}

.clientsTable td:before {
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}

.clientsTable th, .clientsTable td:nth-last-child(-n+2) {
	text-align: center;
}

@media (min-width: 380px) {
	.clientsTable th, .clientsTable td {
		display: table-cell;
	}
	.clientsTable th:first-child, .clientsTable td:first-child {
		padding-left: 0;
	}
}

.tablaClientes::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px #F2F5FA;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #F2F5FA;
	background-color: #F2F5FA;
}

.tablaClientes::-webkit-scrollbar
{
	width: 6px;
	background-color: #F2F5FA;
}

.tablaClientes::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #C4C4C4;
}

.clientsTable tr {
	border-color: #f2f5fa00;
}

.clientsTable th, .clientsTable td {
	margin: 0.5em 1em;
}

@media (min-width: 480px) {
	.clientsTable th, .clientsTable td {
		padding: 0.2em 1em 0.2em 1em !important;
	}
}

.clientsTable th, .clientsTable td:before {
	color: #0F123F;
    text-align: center;
    background-color: #F2F5FA;
}