.contenedorTablaClientesAsesor {
	font-family: 'Raleway', sans-serif;
}

.encabezadoTablaClientesAsesor {
	background: #F2F5FA;
	display: flex;
	align-content: space-around;
	max-height: 100%;
	color: black;
	font-size: 2.5vh;
	height: 6.5vh;
	text-align: center;
}

#encabezadoNombreClientesAsesor {
	width:61%;
}

#encabezadoEstatusClientesAsesor {
	width: 10.5%;
	text-align: start;
}

#encabezadoAccionesClientesAsesor {
	width: 23.5%;
}

#semaforoEstatusAutorizado {
    background-color:#84BC6A ;
    color: #84BC6A;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    padding-top: 0%;
    padding-bottom: 0%;
	margin-left: 10%;
}

#semaforoEstatusNoAutorizado {
    background-color:#a10909 ;
    color: #a10909;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
    padding-top: 0%;
    padding-bottom: 0%;
	margin-left: 10%;
}

#semaforoEstatusNoRevisado {
    background-color:#C4C4C4 ;
    color: #C4C4C4;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vw;
	margin-left: 10%;
}

.clientsTable2 {
	font-family: "Raleway", sans-serif;
	margin: 0.1vw 0vw;
	width: 100%;
	border-collapse: separate; 
	border-spacing: 0vw;
}

.tablaClientesAsesor {
	max-height: 55vh;
	width: 100%;
	overflow-y: scroll;
  	scroll-behavior: smooth;
	margin-top: 0vw;
	padding: 0vw 0.2vw 0vw 0.2vw;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;	
	background: white;
	border-radius: 0.6vw;
}

tr:hover {background-color: #F2F5FA;}

.clientsTable2 tr {
	border-bottom: 1px solid #F2F5FA;
	color: black;
}

.clientsTable2 td {
	border-bottom: 1px solid #0F123F;
}

.clientsTable2 td:first-child {
	padding-top: 0.5vw;
}

.clientsTable2 td:before {
	font-weight: bold;
	width: 6.5vw;
	display: inline-block;
}

.clientsTable2 th, .clientsTable2 td:nth-last-child(-n+2) {
	text-align: center;
}

@media (min-width: 380px) {
	.clientsTable2 th, .clientsTable2 td {
		display: table-cell;
	}
	.clientsTable2 th:first-child, .clientsTable2 td:first-child {
		padding-left: 0;
	}
}

.tablaClientesAsesor::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px #F2F5FA;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #F2F5FA;
	background-color: #F2F5FA;
}

.tablaClientesAsesor::-webkit-scrollbar
{
	width: 6px;
	background-color: #F2F5FA;
}

.tablaClientesAsesor::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #C4C4C4;
}

.clientsTable2 tr {
	border-color: #f2f5fa00;
}

.clientsTable2 th, .clientsTable2 td {
	margin: 0.5vw 1vw;
}

@media (min-width: 480px) {
	.clientsTable2 th, .clientsTable2 td {
		padding: 0.4vw 1.13vw 0.4vw 1.13vw !important;
	}
}

.clientsTable2 th, .clientsTable2 td:before {
	color: #0F123F;
    text-align: center;
    background-color: #F2F5FA;
}