main {
    display: flex;
    flex-direction: row;
    background-color: #0F123F;
    border: 1em solid #0F123F;
}

.contentPage { 
    background-color: #F2F5FA;
    border-radius: 10px;
    height: 88vh;
    width: 85%;
    margin: 0%;
    padding: 30px;
}

header {
    padding-left: 4%;
    padding-bottom: 2%;
}

.filtrosContentPage {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    justify-content:space-between;
}

#cajaUsuarioNoEncontrado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    align-content: center;
}

#cajaUsuarioNoEncontrado img{
    max-height: 55vh;
    text-align: center;
}

#cajaUsuarioNoEncontrado p{
    font-size: 110%;
    font-weight: 450;
}

#cajaUsuarioNoEncontrado h1{
    font-size: 120%;
    font-weight: bold;
}