main {
    display: flex;
    flex-direction: row;
    background-color: #0F123F;
    border: 1em solid #0F123F;
}

.contentPage { 
    background-color: #F2F5FA;
    border-radius: 10px;
    height: 85vh;
    width: 85%;
    margin: 0%;
    padding: 30px;
}

header {
    padding-left: 4%;
    padding-bottom: 2%;
}

.radiosContentPage {
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 4%;
    justify-content:space-between;
}

.tablaContentPage {
    padding-left: 4%;
    padding-right: 4%;
};